:root {
    --primary-background: #030617;
    --secondary-background: #0f172a;
    --border-color: rgb(51 65 85);
    --primary-color: #e2e5e9;
    --icon-color: #b0b3b8;
    --btn-color: rgb(30 41 59);
    --btn-hover-color: #464c54;
    --blue-color: #3882f8;
    --gradient-color: linear-gradient(45deg, #0D41E1, #0C63E7, #0A85ED, #09A6F3, #07C8F9);
    --reverse-gradient-color: linear-gradient(45deg, #07C8F9, #09A6F3, #0A85ED, #0C63E7, #0D41E1);
    --red-gradient-color: linear-gradient(45deg, #e70023, #c2001d, #9f0119, #7F0012, #6E0210, #5E030E, #4D050D);
    --pinkish-gradient-color: linear-gradient(45deg, #E3436B, #D33E70, #C33875, #B3337A, #A32E7E, #932883, #832388);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind Siliguri", sans-serif;
}

body {
    background: var(--gradient-color);
    min-height: 100vh;
}

a,
a:active {
    text-decoration: none;
    color: black;
}

.form-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    background: var(--secondary-background);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, .1), 0px 8px 16px rgba(0, 0, 0, .1);
    border-radius: 8px;
    padding: 30px 20px;
}

.form-container .form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: auto;
}

.form-container .form .form-title {
    color: var(--primary-color);
    font-size: 20px;
    font-weight: 600;
    text-align: center;
}

.form-container .form input[type="text"],
.form-container .form input[type="email"],
.form-container .form .password-field {
    background: var(--primary-background);
    color: var(--primary-color);
    border: 1px solid var(--border-color);
    border-radius: 6px;
    padding: 10px 16px;
    font-size: 17px;
    caret-color: var(--blue-color);
    outline: 0;
}

.form-container .form input[type="text"]:focus,
.form-container .form input[type="email"]:focus,
.form-container .form .password-field:focus-within {
    box-shadow: 0px 0px 3px 3px var(--blue-color);
}

.form-container .form input[type="text"]::placeholder,
.form-container .form input[type="email"]::placeholder,
.form-container .form .password-field input::placeholder {
    color: var(--icon-color);
}

.form-container .form .password-field {
    display: flex;
    align-items: center;
}

.form-container .form .password-field input {
    background: transparent;
    flex: 1;
    border: 0;
    font-size: 17px;
    color: var(--primary-color);
    caret-color: var(--btn-color);
    outline: 0;
}

.form-container .form .password-field button {
    background: var(--gradient-color);
    color: transparent;
    background-clip: text;
    border: 0;
    font-size: 18px;
    cursor: pointer;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
    background-color: var(--btn-color) !important;
    fill: white !important;
    border-radius: 4px;
}

.flatpickr-day.selected {
    background-color: var(--btn-color) !important;
    color: white !important;
    border-color: var(--btn-color) !important;
}

.flatpickr-day.today {
    border-color: var(--btn-color) !important;
}

.flatpickr-day.today:hover,
.flatpickr-day.today:focus {
    background: var(--btn-color) !important;
    color: #fff;
}

.form-container .form .submit-btn {
    background: var(--gradient-color);
    color: var(--primary-color);
    cursor: pointer;
    border: 0;
    border-radius: 6px;
    font-size: 20px;
    font-weight: 600;
    line-height: 48px;
    padding: 0 16px;
}

.form-container .form .submit-btn:hover {
    background: var(--reverse-gradient-color);
}

.form-container .form .form-footer {
    text-align: center;
}

.form-container .form .form-footer a {
    color: var(--primary-color);

}

.form-container .form .form-footer a:hover {
    text-decoration: underline;
}

@media screen and (min-width: 768px) {
    .form-container {
        width: 432px;
    }
}