:root {
    --primary-background: #030617;
    --secondary-background: #0f172a;
    --border-color: rgb(51 65 85);
    --primary-color: #e2e5e9;
    --icon-color: #b0b3b8;
    --btn-color: rgb(30 41 59);
    --btn-hover-color: #464c54;
    --blue-color: #3882f8;
    --gradient-color: linear-gradient(45deg, #0D41E1, #0C63E7, #0A85ED, #09A6F3, #07C8F9);
    --reverse-gradient-color: linear-gradient(45deg, #07C8F9, #09A6F3, #0A85ED, #0C63E7, #0D41E1);
    --red-gradient-color: linear-gradient(45deg,#e70023,#c2001d,#9f0119,#7F0012, #6E0210, #5E030E, #4D050D);
    --pinkish-gradient-color: linear-gradient(45deg, #E3436B, #D33E70, #C33875, #B3337A, #A32E7E, #932883, #832388);
}

body {
    height: 100%;
}

.story-container {
    display: flex;
    min-height: calc(100vh - 60px);
}

.sidebar {
    position: sticky;
    top: 60px;
    left: 0;
    width: 300px;
    height: calc(100vh - 60px);
    overflow-y: auto;
    background: var(--secondary-background);
    border-right: 1px solid var(--border-color);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.sidebar-header {
    display: flex;
    align-items: center;
    gap: 10px;
    border-bottom: 1px solid var(--border-color);
    padding: 20px 10px;
}

.sidebar-header img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.sidebar-header p {
    font-size: 24px;
    font-weight: 600;
}

.content {
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .create-story {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;
    gap: 2rem;
    color: white;
}

.content .upload-btn {
    width: 220px;
    height: 330px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: var(--gradient-color);
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;

}

.content .upload-btn:hover {
    filter: brightness(1.2);

}

.content .gallery-icon i {
    background-color: var(--btn-color);
    color: #ccc;
    border-radius: 50%;
    padding: 20px;
}

.content .preview-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.content .preview-container {
    width: 220px;
    height: 330px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--pinkish-gradient-color);
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    position: relative;
}

.content .preview-container .preview-text {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
}

.content .preview-container .previewStory {
    display: none;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
    z-index: 1;
}
.preview-container .play-btn i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 50px;
    border-radius: 50%;
    color: white !important;
    background: rgba(0, 0, 0, 0.503);
    visibility: hidden;
    z-index: 2;
    pointer-events: none;
    overflow: hidden;
}

.create-story .story-btns {
    visibility: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
}

.story-btns .post-btn{
    background: var(--gradient-color);
    color: var(--primary-color);
    font-weight: 600;;
    /* border: 0; */
}

.story-btns .cancel-btn{
    background: var(--red-gradient-color);
    color: var(--primary-color);
    font-weight: 600;;
    /* border: 0; */
}

@media screen and (min-width: 992px) {
    .sidebar {
        display: flex;
    }

    .content .create-story {
        flex-direction: row;
    }
}